.App {
  text-align: center;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chart-container {
  padding: 20px;
}

.charts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.chart {
  margin: 20px;
  flex: 1 1 300px;
  min-width: 280px;
  max-width: 100%;
  background-color: #F5F7F8;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
  .chart {
    width: 100%;
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  .chart {
    margin: 10px 0;
  }
}

h3 {
  color: black;
}

